.sect-1{
  background-image: url("images/img2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  text-align: center;
  color: orangered;
  justify-content: center;
  padding: 5%;
}
#game{
  border: 3px solid red;
  width: 50%;
  background-image: url("images/img4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
 opacity: 0.88;
 display: none; 
}
button{
  height: 30px;
  width: 50px;
  color: orangered;
  background-color: black;
}
.row{
  float: inherit;
  width: 55%;
  display: flex;
  margin-left: 25%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 50%;
  }

button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  height: 50px;
}

input[type=submit]:hover {
  background-color: #45a049;
}
h2{
text-align: center;
color: orange;
font-family: 'Ultra', serif;

}

.form {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}

p{
  font-family: 'Ultra', serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Acme', sans-serif;
  font-family: 'Teko', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Concert One', cursive;
  font-weight: bolder;
}

footer{
  text-align: center;
  color: oarange;
}

.fa-user{
  background-color: aqua;
  padding: 12px 20px;
}
.icon { 
  padding: 10px; 
  min-width: 40px; 
} 
#button3{
  background-color: greenyellow;
  width: 80px;
  height: 35px;
  text-align: center;
  margin-right: 5%;
}

#player1{
  margin-right: 10%;
}




